# **Comandos básicos**
##### *(Para algunos comandos usé un df data de 2x2. No se necesita mas)*
##### *(Para los comandos que requerían mas info usé iris.csv)*

## Carga de data set

In [ ]:
#@title Conectar con el drive
from google.colab import drive 
drive.mount('/content/drive')

In [ ]:
#@title Librería y lectura de archivo
import pandas as pd # Importo la librería
path = "/content/drive/MyDrive/csv/iris.csv"  # Defino la ruta
ds_iris = pd.read_csv(path) # Leo el archivo
ds_iris.describe

## =======================================================================

In [ ]:
#@title Creo un data frame para jugar
data = pd.DataFrame({ "Apples": [3, 2], "Pears" : [1,4]}, index=["Marco", "Macu"])
data

In [ ]:
#@title Muestra encabezado
data.head()

In [ ]:
#@title Muestra últimas filas
data.tail()

In [ ]:
#@title Forma de los datos
data.shape()  # Sale error. Después veo.

In [ ]:
#@title Descripción del data frame. Como el summary en R
data.describe()

         Apples    Pears
count  2.000000  2.00000
mean   2.500000  2.50000
std    0.707107  2.12132
min    2.000000  1.00000
25%    2.250000  1.75000
50%    2.500000  2.50000
75%    2.750000  3.25000
max    3.000000  4.00000

In [ ]:
#@title Descripción de UNA columna del data frame
data['Apples'].describe()

In [ ]:
#@title Media. df.median() para la mediana. df.std() para la desviación estándar.
data.mean()

In [ ]:
#@title Cantidad de valores no nulos
data.count()

In [ ]:
#@title Valor mas alto. df.min() para el mínimo
data.max()

In [ ]:
#@title Un valor puntual
data[2,2] # Sale error. Después veo.

In [ ]:
#@title Una columna puntual
data['Apples']

In [ ]:
#@title Chequear si hay nulos
data.isnull()

In [ ]:
#@title Chequear si hay nulos. Y los suma.
ds_iris.isnull().sum()

In [ ]:
#@title Seleccionar algunas columnas. "Depurar"
ds_iris_depurado = ds_iris.drop(columns=['sepal.length','sepal.width']) # Me quedó pendiente revisar el inplace=True
ds_iris_depurado.plot() # (El plot es sólo para mostrar. No se necestia)

In [ ]:
#@title Chequeo de filas por indexado. 
ds_iris.iloc[0]

In [ ]:
#@title Chequeo de varias filas por indexado. 
ds_iris.iloc[0:20]

In [ ]:
#@title Chequeo de filas por el "Datetime" de ése data set. HAY QUE CHEQUEARLO
ds_iris.loc[2021-11-29]

In [ ]:
#@title Chequeo de varias filas Y columnas por indexado. 
ds_iris.iloc[[1,2],[1,2]]

In [ ]:
#@title Filtrado por condición.
ds_iris[ds_iris["sepal.length"] < 3]

In [ ]:
#@title Filtrado por varias condiciones.
ds_iris[ds_iris["sepal.length"] > 3) & (ds_iris["sepal.length"] < 5)]

In [ ]:
#@title Reemplazo de cabecera
cabecera = ["long.sepalo","ancho.sepalo","long.petalo","ancho.petalo","variedad",]
ds_iris.columns = cabecera
ds_iris.describe

In [12]:
#@title Exportar el archivo
ruta = "D:\Alex\Estudio\Esp_Ciencia_Datos\Exportar_CSV_Iris.csv"
ds_iris.to_csv(ruta)
# EL COMANDO SE EJECUTA PERO ALGO FALLA